<p><%= current_user.name %>さんの投稿一覧</p>

<div class="review-index">
  <% unless @reviews== nil %>
    <% @reviews.each do |review| %>
      <div class='review_list'>
        <div class='index-img'>
          <%= link_to review_path(review.id) do %>
            <%= image_tag review.image.variant(resize: '200x200'), class: 'review-image' if review.image.attached?%>
          <% end %>
        </div>
        <h3 class='item_name'>
          <%= review.item_name %>
        </h3>
      </div>
    <% end %>
  <% else %>
    <%= "投稿レビューはありません。" %>
  <% end %>
</div>
</div>