<div class='user-show-main'>

<div class='user-show'>
  <p><%= current_user.name %>さんの登録情報</p>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">名前</label>
    </div>
    <%= current_user.name %>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">メールアドレス</label>
    </div>
    <%= current_user.email %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      <span class="indispensable">変更できません</span>
    </div>
    <%= current_user.birthday %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お子様の生年月日</label>
    </div>
    <% if current_user.child_birthday == nil %>
      <%= "登録データはありません" %>
    <% else %>
      <%= current_user.child_birthday %>
    <% end %>
  </div>
</div>
<div class='actions'>
  <%= link_to "登録情報を変更する", edit_user_path(current_user), class: "user-show-btn" %>
</div>




<p><%= current_user.name %>さんの投稿一覧</p>

<div class="review-index">
  <% unless @reviews== nil %>
    <% @reviews.each do |review| %>
      <div class='review_list'>
        <div class='index-img'>
          <%= link_to review_path(review.id) do %>
            <%= image_tag review.image.variant(resize: '200x200'), class: 'review-image' if review.image.attached?%>
          <% end %>
        </div>
        <h3 class='item_name'>
          <%= review.item_name %>
        </h3>
        <h4 class='user_name'>
          <%= review.user.name %>
        </h4>
      </div>
    <% end %>
  <% else %>
    <%= "投稿レビューはありません。" %>
  <% end %>
</div>
</div>