<h3 class="midashi">使用した商品をレビューしてみんなで情報交換をしよう！</h3>
<h3 class="midashi">to reviewボタンから投稿してね</h3>
<%= link_to "to review", new_review_path, class:"review-btn" %>

<div class='review-index'>
<% @reviews.each do |review| %>

  <div class='review_list'>
    <%= link_to  review_path(review.id) do %>
      <div class='index-img'>
        <%= image_tag review.image, class: 'review-img' if review.image.attached?%>
      </div>
      <h3 class='item_name'>
        <%= review.item_name %>
      </h3>
      <h4 class='user_name'>
        <%= review.user.name %>
      </h4>
    <% end %>
  </div>
<% end %>

<% if @reviews.empty? %>
  <div class='review_list'>
    <%= link_to '#' do %>
      <div class='index-img'>
        <%= image_tag "sample-review.jpg", class: 'review-img' %>
      </div>
      <h3 class='item_name'>
        sample review
      </h3>
      <h4 class='user_name'>
        sample name
      </h4>
    <% end %>
  </div>
  <% end %>
</div>