<div class="show-review-top">
  <%= "ðŸ˜Š#{@review.user.name}ã•ã‚“ã®ãƒ¬ãƒ“ãƒ¥ãƒ¼ðŸ‘" %>
</div>

<div class="show-review">
  <div class="review-box">

    <div class="review-img">
      <%= image_tag @review.image.variant(resize: '450x450'), class:"review-box-img" %>
    </div>
    
    <div class="show-contents">
      <h3 class="item-name">
        <%= @review.item_name %>
      </h3>

      <div class="evaluation">
        <% (@review.evaluation.id - 1).times do |n| %>
          <% if n % 2 == 0 %>
            <%= "â˜…" %>
          <% else %>
            <%= "â˜†" %>
          <% end %>
        <% end %>
        <%= "(10ç‚¹ä¸­#{@review.evaluation.name}ç‚¹)" %>
      </div>

      <div class="category">
        <%= @review.category.name %>
      </div>

      <div class="text">
        <%= @review.text %>
      </div>

      <div class="tag">
        <%= @review.tags.first&.tag_name %>
        </div>
    </div>
  </div>
</div>

<div class="show-review-bottom">
  <% if user_signed_in? && @review.user_id == current_user.id %>
    <%= link_to "edit", edit_review_path(@review.id), method: :get, class: "show-edit-btn" %>
    <p class="s-text">/</p>
    <%= link_to "destroy", review_path(@review.id),data:{turbo_method: :delete, turbo_confirm: 'ã“ã®ãƒ¬ãƒ“ãƒ¥ãƒ¼ã‚’å‰Šé™¤ã—ã¾ã™'}, class:"show-destroy-btn" %>
    <p class="s-text">/</p>
  <% end %>

  <%= link_to 'back', root_path, class:"show-back-btn" %>

</div>

    <%= render partial: "question", locals: { review: @review } %>
