<div class="show-review-top">
  <%= "😊#{@review.user.name}さんのレビュー👍" %>
</div>

<div class="show-review">
  <div class="review-box">

    <div class="review-img">
      <%= image_tag @review.image, class:"review-box-img" %>
    </div>
    
    <div class="show-contents">
      <h3 class="item-name"><span class="show-color">商品名：</span>
        <%= @review.item_name %>
      </h3>

      <div class="evaluation">
        <span class="show-color">評価：</span>
        <% (@review.evaluation.id - 1).times do |n| %>
          <% if n % 2 == 0 %>
            <%= "★" %>
          <% else %>
            <%= "☆" %>
          <% end %>
        <% end %>
        <%= "(10点中#{@review.evaluation.name}点)" %>
      </div>

      <div class="category"><span class="show-color">カテゴリー：</span>
        <%= @review.category.name %>
      </div>

      <div class="text"><span class="show-color">レビュー：</span>
        <%= @review.text%>
      </div>

      <% unless @review.tags == nil %>
        <div class="tag">
          <span class="show-color">タグ：</span>
          <%= @review.tags.first&.tag_name %>
          <div id="search-result"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="show-review-bottom">
  <% if user_signed_in? && @review.user_id == current_user.id %>
    <%= link_to "edit", edit_review_path(@review.id), method: :get, class: "show-edit-btn" %>
    <p class="s-text">/</p>
    <%= link_to "destroy", review_path(@review.id),data:{turbo_method: :delete, turbo_confirm: 'このレビューを削除します'}, class:"show-destroy-btn" %>
    <p class="s-text">/</p>
  <% end %>

  <%= link_to 'back', root_path, class:"show-back-btn" %>

</div>

    <%= render partial: "question", locals: { review: @review } %>
